.mat-card {
  width: 500px; /* ajusta el ancho según sea necesario */
  margin: 80px auto; /* Centra horizontalmente */
}
.button {
  width: 50%;
  margin: 10px 5px;
  background-color: #ffa800;
  border-radius: 20px;
  color: #fff;
}
.mat-card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
