<mat-card>
  <mat-card-content>
    <form [formGroup]="vehiculoFormulario" (ngSubmit)="enviarVehiculo()">
      <div class="insertForm">
        <mat-card-title> Registro de vehiculo </mat-card-title>

        <mat-form-field class="example-full-width">
          <mat-label>Matricula</mat-label>
          <input type="text" matInput formControlName="matricula" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tipo Vehiculo</mat-label>
          <mat-select formControlName="tipo_vehiculoId">
            <mat-option *ngFor="let item of tipoVehiculos" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="button" mat-button>Registrar</button>
      </div>
    </form>
    <button (click)="traerVehiculos()">Traer Vehiculos</button>
  </mat-card-content>
</mat-card>
