<mat-card>
  <mat-card-content>
    <form [formGroup]="vehiculoFormulario">
      <div class="insertForm">
        <mat-card-title> Registro de vehiculo </mat-card-title>

        <mat-form-field>
          <mat-label>Matricula</mat-label>
          <input type="text" matInput formControlName="matricula" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tipo Vehiculo</mat-label>
          <mat-select formControlName="tipo_vehiculo_id">
            <mat-option *ngFor="let item of tipoVehiculos" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="button" mat-button (click)="enviar()">Registrar</button>
        <div class="center" *ngIf="isSearch">
          <table mat-table [dataSource]="informacionTabla">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Acción</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-button
                  color="primary"
                  (click)="asignarCelda(element)"
                >
                  Asignar
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
